@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Montserrat:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0; 
 }

/* General ------------------------*/

img {
  width: 550px;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0; 
    
}

.content-wrap {
  max-width: 1366px;
  margin: 0 auto;
  padding: 15px 0;
  overflow: auto;
}

  /*  Recycle header */
  
  html {
    display: inline-block;
  }
  body {
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      background-color: rgba(109, 176, 155);
    }
  
  /* header */
  
  .header {
    background-color: rgba(207, 213, 212);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
   
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(207, 213, 212);
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .nav-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 0px 0px;
    text-decoration: none;
    color: rgb(114, 186, 210);
  }

  /* nav */
  
  .header .nav-list {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* nav icon */
  
  .header .nav-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .nav-icon .nav-bar {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 20px;
  }
  
  .header .nav-icon .nav-bar:before,
  .header .nav-icon .nav-bar:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .nav-icon .nav-bar:before {
    top: 7px;
  }
  
  .header .nav-icon .nav-bar:after {
    top: -7px;
  }

 
  /* nav btn */
  
  .header .nav-btn {
    display: none;
  }
  
  .header .nav-btn:checked ~ .nav-list {
    max-height: 280px;
  }
  
  .header .nav-btn:checked ~ .nav-icon .nav-list {
    background: transparent;
  }
  
  .header .nav-btn:checked ~ .nav-icon .nav-list:before {
    transform: rotate(-45deg);
  }
  
  .header .nav-btn:checked ~ .nav-icon .nav-list:after {
    transform: rotate(45deg);
  }
  
  .header .nav-btn:checked ~ .nav-icon:not(.steps) .nav-list:before,
  .header .nav-btn:checked ~ .nav-icon:not(.steps) .nav-list:after {
    top: 0;
  }
  
    /* 48em = 768px */
  
    @media (min-width: 48em) {
      .header li {
        float: left;
      }
      .header li a {
        padding: 20px 30px;
      }
      .header .nav-list {
        clear: none;
        float: right;
        max-height: none;
      }
      .header .nav-icon {
        display: none;
      }

    }





    /*
    img {
      width: 300px;
      margin: 10px;
      justify-content: center;
      overflow: hidden;
      text-align: center;
      }
    */
 
   
    
  

  /*@media screen and (max-width: 943px) {
   
  #logo-img {
            width: 50%;
        }
         
    }
  }
  */

/* images */

#logo-img {
  max-width: 280px;
  margin: 0 auto;
  padding: 15px 0;
  overflow: auto;
  float: left;
  display: flex;
  margin-top: -20px;
}

#main-img {
  text-align: center;
  background: url("../ms1git_dir/assets/imgs/alvin-balemesa-pTiZF8QRIu0-unsplash.jpg") no-repeat center center;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-blend-mode: darken;
  margin-top: 118px;
  margin-bottom: -18px;
  justify-content: center; 

  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
} 

#hero-sec {
  height: 700px;
  width: 100%;
  overflow: hidden;
  position: relative;
}


@keyframes hero-zoom {
from {
 transform: scale(1);
} 
to {
 transform: scale(1.1);
} 
}

.main-img p {
  float: right;
}

h1, h2, h3 {
  font-family: 'Cormorant', serif;
  font-weight: 300;
  margin: 0;
}

.serHead-btn {
  font-size: 25px;
  line-height: 1;
  color: #6ba612;

 
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 45px;
}

 /* testimonials */

 .testimonials {
  margin: 0 auto 0 auto;
  line-height: 1.65;
  text-decoration: none;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  
  }


.comments {
 padding: 20px;
 flex-basis: 30%;
 box-sizing: border-box;
 padding-top: 0em;
 margin-top: 5vh;

}

  /* Forms */

  .form-section {
    clear: left;
    background: url("../ms1git_dir/assets/imgs/yomex-owo-Syo1SctK4k0-unsplash.jpg" ) no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
    margin: 0;
    opacity: 1.5;
    
    margin-top: 96px;
    width: 100%;
    justify-content: center; 
  }

  .signUp-form {
    margin-top: 150px;
    color: #fff;
    background-color: rgba(22, 21, 21, 0.6);
    max-width: 500px;
    position: absolute;
    left: 10px;
    padding: 25px;
    padding-right: 3em;
    margin-right: 2em;
    
  }

  
  .signUp-form h2 {
  color: #fafafa;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  }
  
  .txtInput{
  background-color: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
  }
  .txtInput:hover{
  border-color: #400913;
  }
  
  .join-button{
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #6ba612;
  color: #fafafa;
  display: block;
  box-shadow: 5px 5px 5px rgba(80, 78, 78, 0.6);
  }
  
  .join-button:hover{
  background-color: #400913;
  color: #6ba612;
  }

  i {
    color: #400913;
    text-transform: uppercase;
    letter-spacing: 38px;
}

 /* Service Promise */

 

 .ser-prom-cont {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -250px;
  
 
}

.ser-prom-cont::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top,#111,transparent);
 
}

.ser-prom-cont .club-ser {
  position: relative;
  max-width: 960px;
  text-align: center;
  z-index: 1;

}

.ser-prom-cont .club-tours .ser-head p {
  color: #1a0808;
  font-size: 2em;
  font-weight: 400;
}


.ser-prom-img {
  position: absolute;
  top: -10rem;
  left: -0.10rem;
  right: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6; 
  display: absolute;
 
}

.btn-one {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #400c07;
  text-decoration: none;
  color: #ffffff;
}

.ser-spn {
  color: #fff;

}



/* Media */

 
@media screen and (min-width:943px) {
  .testimonials {
   display: flex;
   justify-content: space-between;
  
  }

  .signUp-form {
    left: 15em;
  }

  .ser-prom-img {
    top: -10rem;
   
  }
}


   /* Footer ------------------------*/
     
   footer {
    text-align: center;
    background-color: #789597;
    margin-right: 0;
    height: 260px;
    padding-top: 0px;
    margin-top: 0;
}

footer ul {
    width: 670px;
    padding: 5px;
    margin: 2px auto 2px auto;
    text-align: center;
    padding-right: 160px;
}

footer li {
    display: inline;
    margin: 0px 6px;
}

a:visited {
    color: black;
}

a:hover {
    color: #400c07;
    text-decoration: none;
}





