/* General ------------------------*/


img {
    width: 300px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 15px;
    padding: 0;  
}

  /*  Recycle header */
  
  .header {
    background-color: rgb(207, 213, 212);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
   
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(207, 213, 212);
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .nav-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 0px 0px;
    text-decoration: none;
    color: rgb(114, 186, 210);
  }

  /* nav */
  
  .header .nav-list {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* nav icon */
  
  .header .nav-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .nav-icon .nav-bar {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .nav-icon .nav-bar:before,
  .header .nav-icon .nav-bar:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .nav-icon .nav-bar:before {
    top: 5px;
  }
  
  .header .nav-icon .nav-bar:after {
    top: -5px;
  }

 
  /* nav btn */
  
  .header .nav-btn {
    display: none;
  }
  
  .header .nav-btn:checked ~ .nav-list {
    max-height: 280px;
  }
  
  .header .nav-btn:checked ~ .nav-icon .nav-list {
    background: transparent;
  }
  
  .header .nav-btn:checked ~ .nav-icon .nav-list:before {
    transform: rotate(-45deg);
  }
  
  .header .nav-btn:checked ~ .nav-icon .nav-list:after {
    transform: rotate(45deg);
  }
  
  .header .nav-btn:checked ~ .nav-icon:not(.steps) .nav-list:before,
  .header .nav-btn:checked ~ .nav-icon:not(.steps) .nav-list:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .nav-list {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .nav-icon {
      display: none;
    }
  }




/*
blockquote {
    float: right;
    width: 275px;
    font-size: 130%;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}
*/

h1, h2, h3 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 65px;
}

h3 {
    font-size: 45px;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 15px 0;
    overflow: auto;
}

    /* Header and footer ------------------------*/


header {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0px;
    padding-top: 0;
}


header, footer {
    background-color: rgb(163,151,89);
    color: lightpink;
}

     /* Header ------------------------*/

header h1, header h2 {
    color: white;
    margin: 20px;
}
   
     /* Footer ------------------------*/
footer {
    text-align: center;
    background-color: olive;
    margin-right: 0;
}
    
.people-info {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0px; 
    justify-content: center;        
}

.about-hairdresser {
    padding: 15px;
    display: inline-block
}
 
    /* thehairhistory ------------------------*/

.thehairhistory {
    background: lightpink;
    text-align: center;
    margin-top: 0px;
}

    /* hairstyles ------------------------*/

.hairstyles {
    background: rgb(134,165,139);
}

    /* hairdressers ------------------------*/

.hairdressers {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    background-color: skyblue;
}

